#===B-MTGNN===
matplotlib==3.9.0
numpy==1.26.0
pandas==2.2.2
scipy==1.14.0
torch==2.2.0
scikit_learn==1.5.0

#===Multi-Agent===
python-dotenv==1.2.1
pydantic==2.12.5
langchain==1.2.0
langchain-ollama==1.0.1
langgraph==1.0.5

# Install LightRAG Server. Using uv recommended.
# $uv pip install "lightrag-hku[api]"
uv==0.9.18